{% extends 'todo/base.html' %}

{% block content %}



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <p style="color: red">
            {{ error }}
            </p>

            <h1 class="mt-5 mb-3 text-center">Create New To-Do Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}